<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereço de entrega</title>
    <link rel="stylesheet" href="../static/css/fina.css" />
    <link rel="shortcut icon" href="../static/img/apple.png">
</head>
<body>

    <div class="container">
        <div class="form-image">
            <img src="../static/img/fru.svg" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Endereço de entrega</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="finalizar.html">Voltar</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="endereço">Endereço</label>
                        <input id="endereço" type="text" name="endereço" placeholder="Digite o endereço" required>
                    </div>

                    <div class="input-box">
                        <label for="Numero">Numero</label>
                        <input id="Numero" type="text" name="Numero" placeholder="Digite o numero da casa" required>
                    </div>
                    <div class="input-box">
                        <label for="Bairro">Bairro</label>
                        <input id="Bairro" type="text" name="Bairro" placeholder="Digite o bairro" required>
                    </div>

                    <div class="input-box">
                        <label for="cidade">Cidade</label>
                        <input id="cidade" type="text" name="cidade" placeholder="Digite a cidade" required>
                    </div>

                    <div class="input-box">
                        <label for="cep">Cep</label>
                        <input id="cep" type="address" name="cep" placeholder="Digite seu" required>
                    </div>


                    <div class="input-box">
                        <label for="estado">Estado</label>
                        <input id="estado" type="text" name="estado" placeholder="Digite o Estado" required>
                    </div>

                </div>


                <div class="continue-button">
                    <button><a href="{{ url_for('pagamento') }}">Continuar</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
    
</body>
</html>