<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sair</title>
    <link rel="stylesheet" href="../static/css/sair.css" />
    <script
      src="https://kit.fontawesome.com/b783c53a52.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="../static/img/apple.png" />
  </head>
  <body>
    <nav>
      <div class="logo header-fixed">
        <h1>DevFruit<i class="fa-solid fa-watermelon-slice"></i></h1>
      </div>

      <ul>
        <li>
          <a href="sobre.html">Sobre</a>&nbsp;<i class="fa-solid fa-carrot"></i>
        </li>
        <li>
          <a href="index.html">Carrinho</a>&nbsp;<i
            class="fa-solid fa-basket-shopping"
          ></i>
        </li>
        <li>
          <a href="login.html">Login</a>&nbsp;<i
            class="fa-solid fa-address-card"
          ></i>
        </li>
        <li>
          <a href="atendimento.html">Atendimento</a>&nbsp;<i
            class="fa-solid fa-circle-info"
          ></i>
        </li>
        <li>
          <a href="sair.html">Sair</a>&nbsp;<i
            class="fa-solid fa-circle-xmark"
          ></i>
        </li>
      </ul>
    </nav>
  </body>
</html>
